@import url('https://fonts.googleapis.com/css2?family=Iansui&family=Macondo&family=Macondo+Swash+Caps&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    transform: scale(0.95);
    transform-origin: top left; 
  } */
/* html, body {
    overflow-x:  scroll;
    overflow-y: hidden;
    height: 100%;
  } */
  
body { 
  width: 100%; height: 100%; overflow:hidden;
}

.small-scrollbar {
  scrollbar-color: #acc6fb transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges; /* Applied to the container */
  border-radius: 8px;
}

/* WebKit Browsers (Chrome, Edge, Safari) */
.small-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.new-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height for horizontal scrollbar */
}

.new-scrollbar::-webkit-scrollbar-thumb {
  background-color: #acc6fb; /* Gray-500 */
  border-radius: 12px;
}
