@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Iansui&family=Instrument+Serif:ital@0;1&family=Macondo+Swash+Caps&family=Metamorphous&family=Smooch+Sans:wght@100..900&family=Special+Elite&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {

    transform: scale(0.95);
    transform-origin: top left; 
  } */


/* html, body {
    overflow-x:  scroll;
    overflow-y: hidden;
    height: 100%;
  } */
    

body { 
  width: 100%; height: 100%; overflow:hidden;
}


/* Custom Scrollbar */
.small-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height for horizontal scrollbar */
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Gray-500 */
  border-radius: 10px;
}

.small-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Gray-200 */
}
